// bower:scss
@import "bower_components/foundation/scss/foundation.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$background-color: #292c2f;
$primary-color: #87D37C;
$grey: #292c2f;

a {
  color: #666;
}

.row {
	max-width: 75rem;
}
.columns {
  @media #{$small} {
    padding-left: 2em;
    padding-right: 2em;
  }  
}
.padding20tb,
.padding40tb,
.padding60tb {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
@media #{$small} {
  .padding40tb {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .padding60tb {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }  
}



.bg-white {
	background: #fff;
}
.bg-grey {
	background: #292c2f;
}
body {
	background: #eaeaea;
}



h2 {
  font-size: 1.8em;
}


.push-top {
	@media #{$medium} {
		margin-top: 108px;
	}	
	a {
		text-decoration: underline;
	}
}
.fixed {
	@media #{$medium} {
		&:before {
			content: '';
			display: block;
			height: 30px;
			width: 100%;
			background: #eaeaea;
		}
	}		
	@media #{$small-only} {
		position: static;
	}		
}
.menu {
  background-color: $background-color;
  height: auto;
  padding: 1.5rem 3rem;  
  @media #{$small-only} {
		padding: 1.5rem 2rem;
  }  
  .inline-list {
    text-align: center;
    @media #{$small-only} {
			margin-left: 0;
    }
    li {
      float: none;
      display: inline-block;
	    @media #{$small-only} {
				margin: 4px 2px;
	    }
    }
    a {
      color: #fff;
      padding-bottom: 2px;
      transition: all .3s ease;
	    @media #{$small-only} {
			  padding: 6px 13px;
			  background: rgba(255, 255, 255, 0.15);
			  margin: 0;      
	    }
      &:hover {
        color: $primary-color;
      }
    }
    
    .active a {
      color: $primary-color;
    }
  }
  
  .account {
    position: absolute;
    top: 3%;
    right: 3%;
    
    a , i {
      color: #fff;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
  	height: 5rem;
    .inline-list { 
	    float: left;
	    margin: 0 0 0 1.5rem;
    }
    a:hover {
      border-bottom: 2px solid $primary-color;
    }
  }
  
  .nav-button-group {    
    @media #{$medium} {
	    float: right;
	    margin: -.75rem 0 0 0;
    }
    li {
      margin-left: .2rem;
    }
    a {
    	padding: 0.75rem 1rem;
    	background: #87D37C;

    	&:hover {
    		background: #66b55a;
    		color: #fff;
    		border-bottom: none;
    	}
    }
  }
}

.name {
  text-align: center;
  font-size:  1.2rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
  @media #{$medium} {
		font-size: 1.5rem;
  }
  i {
    color: $primary-color;
    margin-right: 0.5rem;
  }
  @media only screen and (min-width: 40.063em) {
    float: left;
  }
}






.hero {
	padding: 8em 18%;
	background-size: cover;
	background-position: center;
	margin-bottom: 1em;
	position: relative;
	.banner-text {
		position: relative;
		z-index: 2;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21);
		a {
			color: #fff;
			font-weight: bold;
		}
		h1 {
			color: #fff;
		}
	}
	&:before {
		content: '';
		display: block;
		// background: $grey;
		  background-image: linear-gradient(to bottom, rgb(41, 44, 47), rgba(135, 211, 124, 0.1));
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}






















